* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body>header {
    background-color: #2f3640;
    padding: 16px 0px;
    color: #f5f6fa;

}

header li a {
    color: #f5f6fa;
    text-decoration: none;
    margin-left: 10px;

}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 100%; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(12, 59, 12, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #fffa59;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#entreterimeto .container article a {
    background-color: red;
}
#entreterimeto{
    background-color: rgba(91, 225, 25, 0.294);
}

#tecnologia .container article a {
    background-color: rgb(35, 1, 255);
}
#tecnologia{
    background-color: rgba(22, 153, 246, 0.603);
}